.wrapper {
  padding: 0;
  margin: 0;

  .headerComponent {
    background: #333333;
    color: #ffffff;

    .navbar {
      padding: 10px;
      margin-left: 15px;

      .logo {
        text-transform: uppercase;
      }
    }
  }
}